<% content_for :content_main do %>
  <div class="info">
    <div class="about_me">
      <div class="circle"><%= image_tag "circle.png" %></div>
      <div class="introduction">born in paris<br>raised in seoul & sunny hills of california<br>designer based in brooklyn<br>bfa school of visual arts<br><br><a href="mailto:sebitmin@gmail.com">e. questions & comments</a><br>p. 917·816·6248<br><a href="/sebitmin_resume_201208.pdf" target="_blank">c. download cv</a><br><a href="http://twitter.com/sebitmin" target="_blank">t. twitter</a><br><a href="http://sebitmin.tumblr.com" target="_blank">b. blog</a></div>
    </div>
  </div>
<% end %>
<% render :partial => "shared/empty_project_stage" %>
